# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# 깃 레파지토리 설정
*.idea/workspace.xml
*.class
*.iml
*.idea


*.properties